h1{text-align:center;
    padding-top: 30px;
    color: #0bdaffd5;}
form{width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgba(0, 255, 221, 0.719);} 
button{
    margin: 20px;
    width: 90px;
    height: 60px;
    color: white;
    background-color: #16a7e0;
    border: none;
    border-radius: 10px;
    cursor: pointer;}
button:hover{background-color:rgba(0, 255, 221, 0.719);} 
p{font-size: 20px;
    font-weight: bold;
    color: #e4e4e4;
     text-align: center;} 
body{background-image: url(layered-waves-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;}
h6 {
    font-size: 10px;
}